.gitignore
src/phylogeny_estimation/bin/
src/phylogeny_estimation/phyml_github/
**__pycache__**
.ipynb_checkpoints/
.vscode/
aux.txt
cache/
convert_count_matrices_to_new_format.py
create_equ.py
create_jtt.py
create_maximum_matchings.py
fam1.txt
fast_tree_trees_small/
ft.log
ft.out
src/phylogeny_estimation/FastTree
src/phylogeny_estimation/FastTree.c
t-ecf6a02c-2559-4d7c-aadf-f7d9c919c2e5.ipynb
test_outputs/
